body {
	background-color: (230, 230, 230);
	color: (30,30,30);
	font-family: courier;
}
h1, h2 {
    font-family: courier;
}
h1{
    color: red;
	font-size: 32px;
	width: 700px;
	margin: 40px auto;
}
h2{
   color: green;
   font-size: 24px;
   font-weight: lighte
}
a{
   text-decoration: none;
   color: red;
}
a:hover {
	color: black;
}
.container {
	width: 700px;
	margin: 40px auto;  
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}
.cord-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color: #6B72E1;
	color: white;
	padding: 8px 20px;
	border-radius: 4px;
}
.btn-blue:hover{
	background-color: black;
	color: white;
}
.lise-inline {
	list-style: none;
	padding-left: 0px;
}
.lise-inline li {
	display: inline;
	padding: 10px;
}
.lise-inline i {
	font-size: 50px;
	color: rgb(230, 230, 230);
}
.lise-inline i:hover {
	color: black;
}



